.box{
    border: 5px solid black;
    height: 100px;
    width: 100px;
    background-color: aquamarine;

    transition-duration: 2s;
  
    transition-property: border-radius background-color;
}
.box:hover{
    border-radius: 50%;
    background-color: blue;
    /* transition-duration: 2s; */
    
}