*{
    padding: 0;
    margin: 0;
    /* background-color: aquamarine; */
}

div{
    height: 700px;
    width: 600px;
    /* background-color: blue; */
    margin:28px auto;
    border: 2px solid rgb(255, 0, 221);
}

h1{
    color: rgb(53, 58, 57);
}

/* 
@media print and(width:700px){
    h1{
        background-color: chartreuse;
    }
} */




@media screen and (width:700px){
    h1{
        background-color: rgb(80, 85, 75);
        color: cornflowerblue;
    }
}

/* 
@media screen and (max-width:700px){
    h1{
        background-color: rgb(80, 85, 75);
        color: rgb(225, 237, 100);
    }
}
 */

/* 

 @media screen and (max-width:700px){
    div , h1{
        color: rgb(127, 110, 125);
        border: 2px solid orange;
    }
}  */


/* 

@media screen and (min-width:500px){
    h1{
        background-color: rgb(80, 85, 75);
        color: rgb(182, 100, 237);
    }
} */


@media screen and (orientation:landscape){
    div,h1{
        color: cornflowerblue;
    }
}
