*{
    margin: 0;
    padding: 0;
}

.ball{
    margin: 20px auto;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgb(197, 123, 11);
    animation-name:bounce;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes bounce{
   
    0%{
        transform: translateY(20px);


    }

    100%{
        transform: translateY(700px);

    }
    
}